.app-header {
  padding: .25rem .5rem;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav ul {
  width: 75vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: .25rem;
}

nav .a {
  text-decoration: none;
}

.container {
  padding: 0 0 0 .5rem;
}

.item-row {
  padding: .25rem .5rem;
  background-color: var(--sky-main);
  background-image: linear-gradient(to bottom, var(--sky-dark), var(--sky-main), var(--sky-light));
  border-radius: .25rem;
  margin: 0 5px 5px;
}

.item-row::after {
  content: '';
  width: calc(100% + 1rem);
  background: var(--wood-medium);
  height: 32px;
  display: block;
  margin: -30px -.5rem -.5rem;
  border-radius: 0 0 .25rem .25rem;
  border-bottom: 6px solid var(--wood-dark);
}

.item-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
}
.item-scroll::-webkit-scrollbar {
  display: none;
}

.item-box {
  margin: 4px 0 0;
  max-width: 20%;
}

.item-box img {
  height: 100%;
}
.item-label {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  color: var(--form-background);
}

.relative {
  position: relative;
}

.absolute {
  border: coral 1px solid;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
}

.flex {
  display: flex;
}

.jc-sb{
  justify-content: space-between;
}
.sz-sm {
  transform: scale(.5) !important;
}


/* 768 */
@media screen and (min-width: 768px) {
  .app-header {
    flex-direction: row;
  }
  nav ul {
    width: 40vw;
  }

}