/* Styling for dev stuff */
.test {
    padding: 40px;
  }
  .test button, .test p {
    margin-right: 10px;
  }
  .test form {
    background-color: var(--main-color);
    padding: 10px 20px;
  }
  .test .sprite-example {
    display: flex;
  }
  
  .documentation {
    font-weight: normal;
    margin: 0 0 3px;
  }
  .docu:not(:first-of-type) {
    margin-top: 20px;
  }

  .dev-btn {
      position: fixed;
      bottom: 20px; left: 20px;
      z-index: 1000;
      font-size: 24px;
      color: var(--main-darkest);
  }
  .dev-nav {
      background-color: var(--form-background);
      margin: 20px auto 0;
  }