
/*
- leaderboard h1 should be center 
- UL/OL should be in the center of the page
*/

/*
.leader-board-container {
  .leader-board-container {
  position: center;
  justify-content: center;
  text-align: center;
*/

.leaderboard ol {
  background-color: var(--btn-timer-light);
  text-align: center;
  margin: 0 auto;
  width: auto;
  list-style-position: inside;
}

.leaderboard h1 {
background-color: var(--main-darkest);
text-align: center;
color: white;
}

.leaderboard li p {
display: inline-block;
}

.lb-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  font-family: 'Fredoka', cursive;
}
.lb-grid:first-of-type {
  margin-top: 30px;
}
.lb-grid-item {
  text-align: center;
  padding: 10px;
  margin: 1px;
  font-size: 1.3em;
  background-color: var(--sky-main);
  color: var(--btn-timer-dark);
  text-shadow: 0 0 2px var(--sky-light);
}
.lb-title {
  background-color: var(--btn-timer-light);
  text-shadow: 1px 1px var(--btn-timer-main);
  color: #FFF;
  font-weight: 600;
}

.leaderboard {
  background-color: var(--sky-dark);
}