/* Orchard */
.orchard-item-box {
  margin: 4px 0 0;
  height: 128px;
  max-width: 20%;
}
.orchard-item-box img {
  width: 100%;
  height: 100%;
}
.orchard-wrapper {
  background-color: var(--sky-main);
  background-image: repeating-linear-gradient(
    to bottom,
    var(--sky-dark),
    var(--sky-main) 10%,
    var(--sky-light) 20%,
    var(--sky-dark) 30%
  );
  position: absolute;
  margin: 0 -8px;
  width: 100vw;
  height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.orchard-wrapper::-webkit-scrollbar-track {
  background: var(--main-color);
}
.orchard {
  background-color: var(--main-color);
  margin: 40px auto 0;
  align-self: stretch;
  flex: 1;
  width: 100%;
}
.orchard-wrapper h2 {
  width: 100%;
  margin: 40px 0 10px;
}
.tree-container {
  width: calc(100vw - 40px);
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.orchard-box::after {
  content: "";
  display: block;
  width: 70%;
  height: 30px;
  margin: -10px auto 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  mix-blend-mode: overlay;
  position: relative;
  z-index: 1;
}
.orchard-row {
  margin: -10px 0 0;
}
.tree-item {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 125px;
  max-height: 125px;
}
.orchard-barn {
  position: absolute;
  width: 120px;
  top: 25px;
  right: 20px;
}
.empty-plot {
  height: 40px !important;
  margin-top: 88px;
}

.btn-orchard-harvest {
  position: fixed;
  top: 45%;
  border-radius: 0 10px 10px 0;
  max-width: calc(20vw - 20px);
  margin: 25px 0 0 -2px;
  z-index: 1000;
  background-color: var(--btn-harvest-main);
  box-shadow: 2px 5px var(--main-darker);
}
.btn-orchard-harvest:hover {
  box-shadow: 2px 5px var(--main-darkest);
}


/* 600 */
@media screen and (max-width: 600px) {
  .orchard-wrapper {
    margin-top: -6px;
    height: calc(100vh - 26px);
  }
  .tree-container {
    margin-bottom: 70px;
    justify-content: space-evenly;
  }
  .item-row {
    padding-top: 0;
  }
  .item-scroll {
    height: 125px;
  }
  .item-box {
    height: 100%;
    margin-top: 0px;
  }
  .item-container {
    height: 150px;
    margin-top: 0 !important;
  }
  .btn-orchard-harvest {
    font-size: 1.1em;
    max-width: calc(40vw - 20px);
  }
}

/* 400 */
@media screen and (max-width: 400px) {
  .orchard-wrapper h2 {
    margin: 40px 12vw 10px;
  }
  h2.page-title {
    text-align: left;
  }
}