.item-container {
  position: relative;
  margin: 4px;
  height: 128px;
  /* border: 1px sandybrown solid; */
  border-radius: .5rem;
  width: 128px;
}

.item-container img {
  width: 100%;
}

.temp-img {
  position: absolute;
  border-radius: .35rem;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.temp-img::after {
  content: '';
  width: 100%;
  background: var(--wood-dark);
  height: 12%;
  display: block;
  margin: -15px auto -.5rem;
  border-radius: 50%;
}

.item-btn-wrapper {
  position: relative;
  width: 100%;
  padding-top: calc(100% - .25rem);
}
.item-btn-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}


/* 600 */
@media screen and (max-width: 600px) {
  /* .item-row {
    background-color: var(--display-banner-main);
    background-image: linear-gradient(to bottom, var(--display-banner-main), var(--display-banner-dark));
  } */
  .item-row::after {
    height: 45px;
    margin-top: -45px;
  }
  .item-container {
    width: calc(20vw - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 5px 0;
  }
  .temp-img {
    position: static;
    border-radius: 0;
    width: 100%;
    height: auto;
    transform: translate(0, 0);
  }
  .temp-img::after {
    display: none;
  }
  .item-btn-wrapper {
    padding-top: 0;
    transform: scale(.9);
  }
}

/* 400 */
@media screen and (max-width: 400px) {
  .item-scroll {
    height: 100px;
  }
  .item-box {
    margin-top: -13px;
  }
  .item-btn-wrapper {
    padding-top: 5px;
    transform: scale(.8);
  }
  .item-row::after {
    height: 40px;
    margin-top: -40px;
  }
}