.sub-title {
  text-align: center;
  margin: 5px .5rem 15px;
  text-transform: uppercase;
  font-size: .95em;
  color: var(--btn-shop-main);
}

.shop .item-label {
  margin: 10px 0 0;
  text-align: center;
  color: var(--form-background);
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--main-darker);
  text-shadow: 1px 1px var(--main-darkest);
  padding: 6px;
  border-radius: 10px 10px 0 0;
}

.sell-apples {
  margin: 0 auto 5px;
  text-align: center;
  background-image: linear-gradient(to bottom, var(--sky-main), var(--sky-dark) );
  padding: 12px;
  border-radius: 0 0 10px 10px;
}
.sell-apples .btn-timer:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.card {
  padding: 0.3rem;
  width: 128px;
  height: 90%;
  border-radius: 0.5rem;
  background-color: var(--display-money-main);
  box-shadow: inset -2px -2px var(--display-money-dark),
    inset 2px 2px var(--display-money-light);
}

.usd {
  background-color: var(--btn-harvest-main);
  box-shadow: inset -2px -2px var(--btn-harvest-dark),
    inset 2px 2px var(--btn-harvest-light);
}

.card-label {
  font-size: x-large;
  color: var(--btn-shop-main);
  font-weight: 600;
  font-size: 1.8em;
  text-shadow:
    -1px -1px var(--form-background),
     1px -1px var(--form-background),
    -1px 1px var(--form-background),
     1px 1px var(--form-background);
}

.usd-label {
  color: var(--display-money-main);
}

.card-body {
  padding: 0.25rem;
  background-color: var(--form-background);
  border-radius: 0.3rem;
  color: var(--display-banner-main);
}

.btn-buy {
  background-color: var(--display-money-main);
  text-shadow: 1px 1px var(--display-money-dark);
  box-shadow:
    inset -2px -2px var(--display-money-dark),
    inset 2px 2px var(--display-money-light);
}
.btn-buy:hover {
  animation: pulse 2s infinite linear;
}

.apple-increment {
  font-size: 1.5em;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  line-height: 1;
}
.increment-btn {
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.increment-btn:hover,
.increment-btn i:hover {
  cursor: pointer;
  text-shadow: 0 0 3px #FFF;
}
.increment {
  color: var(--display-money-main);
}
.decrement {
  color: var(--btn-shop-light);
}
.apple-count img {
  width: 30px;
  margin: 0 5px;
}
.apple-amount {
  font-size: 1.1em;
}
