.sub-title {
  text-align: center;
  margin: 5px 0.5rem 15px;
  text-transform: uppercase;
  font-size: 0.95em;
  color: var(--btn-shop-main);
}

.shop .item-label {
  margin: 10px 0 0;
  text-align: center;
  color: var(--form-background);
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--main-darker);
  text-shadow: 1px 1px var(--main-darkest);
  padding: 6px;
  border-radius: 10px 10px 0 0;
}

.sell-apples,
.shop-item-row {
  margin: 0 auto 5px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--sky-main),
    var(--sky-dark)
  );
  padding: 6px;
  border-radius: 0 0 10px 10px;
}
.sell-apples .btn-timer:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.card {
  padding: 0.3rem;
  width: 128px;
  height: 90%;
  border-radius: 0.5rem;
  background-color: var(--display-money-main);
  box-shadow: inset -2px -2px var(--display-money-medium),
    inset 2px 2px var(--display-money-light);
}

.usd {
  background-color: var(--btn-harvest-main);
  box-shadow: inset -2px -2px var(--btn-harvest-dark),
    inset 2px 2px var(--btn-harvest-light);
}

.shop-img {
  width: 70px;
  height: 70px;
  margin: 0 10px 0 0;
  align-self: center;
  position: relative;
}
.buy-gem {
  width: 100%;
}

.many-gem-1, .many-gem-2 {
  position: absolute;
}
.many-gem-1 {
  width: 75%;
  top: 0; left: 0;
}
.many-gem-2 {
  width: 55%;
  transform: rotateY(-180deg);
  top: 25px;
}

.shop-img i {
  color: var(--btn-shop-light);
  font-size: 64px;
}
.shop i.fa-stopwatch:hover {
  animation: harvest-now-pulse 1.4s infinite linear;
}
@keyframes harvest-now-pulse {
  0% { transform: scale(1); }
  25% { transform: scale(1.05); }
  50% { transform: scale(1); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.shop i.fa-rotate:hover {
  animation: auto-harvest-rotate 1s infinite linear;
}
@keyframes auto-harvest-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

.coming-soon-shop {
  background-color: var(--display-banner-main);
  width: 80%;
  transform: rotate(-4deg);
  font-size: 1.8em;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: var(--display-banner-dark);
  padding: 12px;
  outline: 2px dashed var(--display-banner-dark);
  outline-offset: -6px;
  margin: -96px auto 36px;
}

.shop-item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.shop-box {
  width: calc(50% - 4px);
  margin: 2px;
}
.shop-box .card {
  width: 100%;
  height: auto;
}
.shop-buy-label {
  text-align: left;
}
.shop-buy-label p {
  margin: 0 0 3px;
  text-transform: uppercase;
  font-size: 0.85em;
}

.shop-card {
  padding: 0.25rem;
  background-color: var(--form-background);
  border-radius: 0.3rem;
  color: var(--display-banner-main);
  display: flex;
  justify-content: center;
}

.btn-buy {
  background-color: var(--display-money-main);
  text-shadow: 1px 1px var(--display-money-medium);
  box-shadow: inset -2px -2px var(--display-money-medium),
    inset 2px 2px var(--display-money-light);
}
.btn-buy:hover {
  animation: pulse 2s infinite linear;
}

.shop-box button:disabled {
  opacity: .7;
}
.shop-box button:disabled:hover {
  cursor: default;
  animation: none;
  filter: brightness(100%);
}

.shop-card .card-label {
  color: var(--btn-shop-main);
  font-size: 2em;
  font-family: "Smythe", cursive;
  text-transform: capitalize;
}

.shop-card .usd-label {
  color: var(--display-money-main);
}

.apple-increment {
  font-size: 1.5em;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  line-height: 1;
}
.increment-btn {
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.increment-btn:hover,
.increment-btn i:hover {
  cursor: pointer;
  text-shadow: 0 0 3px #fff;
}
.increment {
  color: var(--display-money-main);
}
.decrement {
  color: var(--btn-shop-light);
}
.apple-count img {
  width: 30px;
  margin: 0 5px;
}
.apple-amount {
  font-size: 1.1em;
}

/* 400 */
@media screen and (max-width: 400px) {
  .shop-card {
    flex-direction: column;
  }
  .shop-buy-label {
    text-align: center;
  }
  .shop-card .card-label {
    font-size: 1.8em;
  }
  .coming-soon-shop {
    margin: -130px auto 70px;
  }
}

/* 380 */
@media screen and (max-width: 380px) {
  .shop .display-banner {
    transform: scale(.9);
    font-size: 1.4em;
  }
}